@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
#mynetwork  {
  height: 100%; 
  width: 100%;
}
#mynetwork_2 {
  height: 100%; 
  width: 100%;
}

.canvas_1{
  height: 100vh;
}
.canvas_2{
  height: 100vh;
}

ul li{
  list-style: disc;
}

@media (min-width: 1081px){
  .canvas_2{
    display: none;
  }
  .right-cont {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the screen */
    overflow: hidden; /* Prevent overflow scrolling */
  }
  
  .instr-cont {
    flex-shrink: 0; /* Prevent shrinking */
    height: 155px; /* Set a fixed height */
  }
  
  .canvas_1 {
    flex-grow: 1; /* Take up remaining space */
    height: auto; /* Allow the height to be flexible */
    overflow: hidden; /* Prevent internal scrolling */
  }
  
  @mixin {
    canvas_1 {
      height: auto;
    }
  }
  
}

@media (min-width: 1081px) and (max-width: 1280px) {
  .left-cont {
    grid-column: span 4 / span 4; /* This makes left-cont span 6 columns */
  }
  .right-cont {
    grid-column: span 8 / span 8; /* This makes right-cont span 6 columns */
  }
  .rebuild-btn-2{
    display: none;
  }
  .instr-cont{
    height: 202px;
  }
}

/* responsiveness between 768px and 1080px */
@media (min-width: 768px) and (max-width: 1081px) {
  .canvas_1 {
    display: none;
  }
  .left-cont {
    grid-column: span 5 / span 5; /* This makes left-cont span 6 columns */
    height: fit-content;
  }
  .right-cont {
    grid-column: span 7 / span 7; /* This makes right-cont span 6 columns */
    height: fit-content;
  }
  .rebuild-btn-1{
    display: none;
  }
  .instr-cont{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .instr-cont ul{
    padding-left: 14px;
  }
  .bottom-cont{
    border-top: 1px solid gray;
    width: 100vw;
  }
  .canvas_2{
    height: 500px;
  }
}

@media (min-width: 200px) and (max-width: 768px){
  .canvas_1 {
    display: none;
  }
  .left-cont {
    grid-column: span 12 / span 12; /* This makes left-cont span 6 columns */
    height: fit-content;
  }
  .right-cont {
    grid-column: span 12 / span 12; /* This makes right-cont span 6 columns */
    height: fit-content;
  }
  .rebuild-btn-1{
    display: none;
  }
  .instr-cont{
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
  .instr-cont ul{
    padding-left: 14px;
  }
  .bottom-cont{
    border-top: 1px solid gray;
    width: 100vw;
  }
  .canvas_2{
    height: 500px;
  }
}

/* fix */
